<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            {% block modal_content %}
                <div class="modal-header">
                    {% block modal_header %}
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    {% endblock %}
                </div>
                <div class="modal-body">
                    {% block modal_body %}
                    {% endblock %}
                </div>
                <div class="modal-footer">
                    {% block modal_footer%}
                    {% endblock %}
                </div>
            {% endblock %}
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>