{% extends 'MMCmfContentBundle:cmf/contentNode:contentNode_default.html.twig' %}

{% block cmf_rowContentNode_widget_content %}
    {% block cmf_contentNode_widget_content %}
        {#<h2 data-cmf-field="name">{{ node.name }}</h2>#}
        <div class="ContentNodeChildren{% if node.isDraggable %} draggable{% endif %}">
            {% for child in node.nodes %}
                {{ child|cmfParse }}
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}