@import "../vendor/font-awesome/less/font-awesome.less";

@import "type/nodeTreeType";

@fa-font-path: "/bundles/mmcmfcontent/vendor/font-awesome/fonts";

*[data-cmf-field] {
  cursor: text;
}

.cmf-save-container {
  &.enable {
    bottom: 0;
  }

  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease;

  display: block;

  border: 1px solid #d4d4d4;

  padding: 10px;
  position: fixed;
  bottom: -100px;
  left: 0;
  background: #FFF;
  width: 100%;
  text-align: center;

  .cmf-save-btn {
    cursor: pointer;
    margin: 0 auto;
    display: inline-block;
    padding: 3px 10px;
    &:hover {
      text-decoration: underline;

    }
  }
}

.ContentNode {
  position: relative;

  .gu-transit{
    background-color: rgba( 255 , 0 , 255 ,.5);
  }
  /*
    body > & {
      .gu-transit{
        height: inherit;
        border-bottom: inherit;
        overflow: auto;
      }
    }*/

  &.hover{
    & > .ContentNode-settings{
      display: block;
    };
  }

}

.ContentNode:hover,
.ContentNode-highlighted {

  box-shadow: 0 0 1px #FFF;

}

.ContentNode-settings {
  display: none;
  text-align: right;

  &,
  .inner {
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    transition: all .8s linear;
  }

  position: absolute;
  top: 0;
  right: 15px;

  padding: 10px;

  .inner {
    display: none;
  }

  b {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
  }

  .select-container {
    display: inline-block;

    select {
      float: right;
    }
  }

  &.open {
    background: rgba(140, 140, 140, 0.5);

    display: block;

    width: 120px;
    b {
      cursor: move;
      &.ContentNode-settings-gear{
        display: none;
      }
    }

    .inner {
      display: block;
      & > div {
        width: 100%;
        select {
          float: right;
        }
      }

    }
  }

  .posiswitch > div {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #d4d4d4;
    cursor: pointer;
    &:hover {
      color: #d4d4d4;
    }
  }
}





