@import "../vendor/font-awesome/less/font-awesome.less";
@import "type/nodeTreeType";

@fa-font-path: "/bundles/mmcmfcontent/vendor/font-awesome/fonts";

@color_success: #5cb85c;
@color_failed: #d9534f;

*[data-cmf-field] {
  cursor: text;
}

.cmf-save-container {
  &.enable {
    bottom: 0;
  }

  &.failed,
  &.done {

    background: @color_success;

    .btn {
      visibility: hidden
    }

    &.failed {
      background: @color_failed;
    }

  }

  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease;

  display: block;

  border-top: 1px solid #d4d4d4;

  padding: 10px;
  position: fixed;
  bottom: -100px;
  left: 0;
  background: rgba(34, 34, 34, 1);
  width: 100%;
  text-align: center;

  .cmf-save-btn {

    cursor: pointer;
    margin: 0 auto;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 0;
    font-weight: 100;
    letter-spacing: 1px;

    &:hover {

    }

  }
}

.ContentNode {
  position: relative;

  .gu-transit {
    background-color: rgba(255, 0, 255, .5);
  }

}

.cmf-content-edit-modus {

  .ContentNode:hover,
  .ContentNode-highlighted {

    box-shadow: 0 0 4px rgba(0, 0, 100, .5);

  }

  .ContentNode-settings {

    pointer-events: inherit;
    opacity: 1;

  }

  .cmf-content-action-bar
  {
    background: @color_success;
    .cmf-content-edit-modus-toggle .fa{color: #FFF;}
  }

}



.modal-dialog > .modal-content {

  &,
  .form-control {
    border-radius: 0;

    &.form-control {
      box-shadow: none;
    }

    .modal-footer .btn{
      border-radius: 0;

      font-weight: 100;
      letter-spacing: 1px;
    }

  }
}





.RowContentNode,
.ContainerContentNode {

  &.RowContentNode > .ContentNode-settings {
    top: -30px;
    margin-left: 40px;
    background: fadeOut(#222, 10%);
    color: #d4d4d4;
    .fa {
      text-shadow: none;
    }
  }

  &.ContainerContentNode > .ContentNode-settings {
    top: -30px;
    margin-right: 53px;
    background: fadeOut(#222, 10%);
    color: #d4d4d4;

    .fa {
      text-shadow: none;
    }

  }

  /*  &:hover > .ContentNode-settings
    {
      display:block;
    }*/
}

.ContentNode-settings {

  opacity: 0;
  pointer-events: none;

  -moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  transition: opacity .5s linear;



  text-align: center;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 30px;

  color: fadeOut(#222, 10%);

  position: absolute;
  top: 0;

  margin: 0 50%;
  width: 75px;
  left: -29px;

  padding: 5px;

  .fa {
    vertical-align: middle;
    font-size: 17px;
    text-shadow: #FFF 0px 0px 1px;
  }


  .inner {
    display: none;
  }

  b {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;

    &:first-child
    {
      margin-left: 0px;
    }
  }

  .select-container {
    display: inline-block;

    label {

      .fa;
      text-shadow: none;
      &:before {
        .fa-icon();
      }

      span {
        display: none;
      }

      &.icon-xs:before {
        content: @fa-var-mobile;
      }

      &.icon-sm:before {
        content: @fa-var-tablet;
      }

      &.icon-md:before {
        content: @fa-var-laptop;
      }

      &.icon-lg:before {
        content: @fa-var-desktop;
      }

    }

    select {
      float: right;
    }
  }

  &.open {

    background: fadeOut(#222, 10%);

    display: block;
    height: auto;

    width: 120px;
    b {
      cursor: move;
      &.ContentNode-settings-gear {
        display: none;
      }
    }

    label,
    .fa {
      text-shadow: none;
      color: #d4d4d4;
    }

    .inner {
      display: block;
      & > div {
        width: 100%;
        select {
          float: right;
        }
      }

    }
  }

  .posiswitch > div {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #d4d4d4;
    cursor: pointer;
    &:hover {
      color: #d4d4d4;
    }
  }
}

.ContentNodeChildren.draggable {
  min-height: 50px;
}

/**
 * Actionbar / Toolbar cmf-content-edit-modus-toggle
 */

.cmf-content-action-bar {

  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s linear;

  position: fixed;
  bottom: 0;
  left: 0;

  background: fadeOut(#222, 10%);

  border-top-right-radius: 4px;

  .cmf-content-edit-modus-toggle {
    cursor: pointer;
    margin: 6px;

    .fa {
      vertical-align: middle;
      font-size: 20px;
      color: #d4d4d4;
    }
  }
}
